* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
}

/* FUNDO */
.bg {
  min-height: 100vh;
  background: linear-gradient(to bottom right, #340181, #663191, #420F86, #5C278E, #501C8A);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

/* CARD PRINCIPAL */
.main-card {
  background: #fff;
  width: 1200px;
  max-width: 100%;
  border-radius: 25px;
  padding: 40px;
  display: flex;
  gap: 40px;
  box-shadow: 0 30px 80px rgba(100, 100, 100, 0.45);
}

/* LADO ESQUERDO */
.left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD FORM */
.form-card {
  background: #000;
  color: #fff;
  width: 100;
  max-width: 480px;
  border-radius: 25px;
  padding: 40px 30px;
}

/* LOGO */
.form-card h1 {
  text-align: center;
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-card h1 span {
  color: #8a2be2;
}

/* TABS */
.tabs {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 25px;
  color: #777;
}

.tabs .active {
  color: #fff;
  border-bottom: 2px solid #8a2be2;
  padding-bottom: 4px;
}

/* INPUTS */
.form-card input {
  width: 100%;
  padding: 14px 18px;
  border-radius: 30px;
  border: none;
  margin-bottom: 15px;
  outline: none;
  font-size: 14px;
}

/* SENHA COM ÍCONE */
.password {
  position: relative;
}

.password .eye {
  position: absolute;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* BOTÃO */
.form-card button {
  width: 80%;
  margin: 20px auto 0;
  display: block;
  padding: 10px;
  border-radius: 30px;
  border: 2px solid #8a2be2;
  background: transparent;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.form-card button:hover {
  background: #8a2be2;
}

/* RODAPÉ */
.footer {
  font-size: 12px;
  color: #777;
  text-align: center;
  margin-top: 25px;
}

/* LADO DIREITO */
.right {
  flex: 1;
  padding: 20px;
}

.right h2 {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 30px;
}

.right img {
  max-width: 100%;
}